
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BanBif | Oficina</title>
    <link rel="SHORTCUT ICON" href="https://banbif.com.pe/Portals/0/favicon.ico?ver=2016-12-06-153739-663" />
    <script src="~/Library/js/jquery-2.1.3-jquery.min.js"></script>



    <style>
        .tableDigital {
            font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            .tableDigital td, .tableDigital th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            .tableDigital tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            .tableDigital tr:hover {
                background-color: #ddd;
            }

            .tableDigital th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #4CAF50;
                color: white;
            }
    </style>

</head>
<body onload="CargarPagina()" style="background-image:url('/Library/img/banbif/fondo.png'); background-repeat:no-repeat; background-position-x:center">
    <input type="hidden" id="hidLoad" value="@ViewBag.CargarPagina" />
    <input type="hidden" id="hidAvailable" value="@ViewBag.Available" />
    <input type="hidden" id="hidMensaje" value="@ViewBag.Mensaje" />
    <input type="hidden" id="hidIdUsuario" value="@ViewBag.IdUsuario" />
    <div style="width:100%">

        <div align="center">
            <div style="width: 700px; background-image: url('/Library/img/banbif/fondo_white.png'); background-repeat: repeat; margin: 10px; padding: 30px; border: 2px solid #fff; text-align: left; font-family: Verdana,Arial">
                <div style="font-size:26px; color:#20a6ff; font-weight: 700">HOLA</div>
                <br />
                <div id="divPregunta" align="justify" style="font-size:14px; color:#20a6ff; font-weight: 700">

                </div>
                <br />
                <div align="center">

                    <table bgcolor="#fff" cellpadding="0" align="center" cellspacing="0" width="520">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="#AEADB3" colspan="7" height="30" style="font-size:11px; color:#fff">No lo recomendaría en absoluto</td>
                                <td align="center" bgcolor="#87868A" colspan="2" style="font-size:11px; color:#fff">No sé</td>
                                <td align="center" bgcolor="#727176" colspan="2" style="font-size:11px; color:#fff">Sí lo <br /> recomendaría</td>
                            </tr>
                            <tr>
                                <td align="center"><a onclick="Rating(0)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(1)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(2)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(3)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(4)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(5)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(6)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(7)"><img src="~/Library/img/banbif/serio.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(8)"><img src="~/Library/img/banbif/serio.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(9)"><img src="~/Library/img/banbif/feliz.jpg" /></a></td>
                                <td align="center"><a onclick="Rating(10)"><img src="~/Library/img/banbif/feliz.jpg" /></a></td>
                            </tr>

                            <tr>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(0)" style="color:#ff7068; text-decoration:none"><b>0</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(1)" style="color:#ff7068; text-decoration:none"><b>1</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(2)" style="color:#ff7068; text-decoration:none"><b>2</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(3)" style="color:#ff7068; text-decoration:none"><b>3</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(4)" style="color:#ff7068; text-decoration:none"><b>4</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(5)" style="color:#ff7068; text-decoration:none"><b>5</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating(6)" style="color:#ff7068; text-decoration:none"><b>6</b></a></td>
                                <td align="center" style="color:#ffb837"><a onclick="Rating(7)" style="color:#ffb837; text-decoration:none"><b>7</b></a></td>
                                <td align="center" style="color:#ffb837"><a onclick="Rating(8)" style="color:#ffb837; text-decoration:none"><b>8</b></a></td>
                                <td align="center" style="color:#00c371"><a onclick="Rating(9)" style="color:#00c371; text-decoration:none"><b>9</b></a></td>
                                <td align="center" style="color:#00c371"><a onclick="Rating(10)" style="color:#00c371; text-decoration:none"><b>10</b></a></td>
                            </tr>
                            <tr>
                                <td align="center" height="30">
                                    <div id="arrow0" style="visibility:visible"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow1" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow2" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow4" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow5" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow6" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow7" style="visibility:hidden"><img src="~/Library/img/banbif/arrow2.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow8" style="visibility:hidden"><img src="~/Library/img/banbif/arrow2.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow9" style="visibility:hidden"><img src="~/Library/img/banbif/arrow1.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow10" style="visibility:hidden"><img src="~/Library/img/banbif/arrow1.png" /></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div align="center">
                    <input type="hidden" id="hidRating" name="hidRating" value="@ViewBag.Rating" />
                    <div align="center" style="width:100%; font-size:12px; margin:7px" id="divPreguntaComentario">
                        <p id="pPreguntaComentario"></p>
                    </div>
                    <textarea id="comments" name="comments" required rows="4" style="width:90%"></textarea>
                </div>
                <br />
                <div id="divPregunta2" align="justify" style="font-size:14px; color:#20a6ff; font-weight: 700">

                </div>
                <br />
                <div id="divCanalOficina" style="display:block">
                    <table style="width:700px; font-size:12px" class="tableDigital">
                        <thead>
                            <tr>
                                <th width="5%"></th>
                                <th width="35%">Atributos</th>
                                <th width="10%" style="text-align:center">Nada Satisfecho</th>
                                <th width="10%" style="text-align:center">Poco Satisfecho</th>
                                <th width="10%" style="text-align:center">Satisfecho</th>
                                <th width="10%" style="text-align:center">Muy Satisfecho</th>
                                <th width="10%" style="text-align:center">Totalmente Satisfecho</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>P2.1</td>
                                <td>La cordialidad y amabilidad del asesor</td>
                                <td align="center"><input type="radio" id="preg_14_1" name="chekP21" /></td>
                                <td align="center"><input type="radio" id="preg_14_2" name="chekP21" /></td>
                                <td align="center"><input type="radio" id="preg_14_3" name="chekP21" /></td>
                                <td align="center"><input type="radio" id="preg_14_4" name="chekP21" /></td>
                                <td align="center"><input type="radio" id="preg_14_5" name="chekP21" /></td>
                            </tr>
                            <tr>
                                <td>P2.2</td>
                                <td>La concentración que mostró el personal al antenderlo</td>
                                <td align="center"><input type="radio" id="preg_15_1" name="chekP22" /></td>
                                <td align="center"><input type="radio" id="preg_15_2" name="chekP22" /></td>
                                <td align="center"><input type="radio" id="preg_15_3" name="chekP22" /></td>
                                <td align="center"><input type="radio" id="preg_15_4" name="chekP22" /></td>
                                <td align="center"><input type="radio" id="preg_15_5" name="chekP22" /></td>
                            </tr>
                            <tr>
                                <td>P2.3</td>
                                <td>Con la imagen y presentacón del personal de BanBif </td>
                                <td align="center"><input type="radio" id="preg_16_1" name="chekP23" /></td>
                                <td align="center"><input type="radio" id="preg_16_2" name="chekP23" /></td>
                                <td align="center"><input type="radio" id="preg_16_3" name="chekP23" /></td>
                                <td align="center"><input type="radio" id="preg_16_4" name="chekP23" /></td>
                                <td align="center"><input type="radio" id="preg_16_5" name="chekP23" /></td>
                            </tr>
                            <tr>
                                <td>P2.4</td>
                                <td>Con la claridad de la información brindada por el personal de BanBif</td>
                                <td align="center"><input type="radio" id="preg_17_1" name="chekP24" /></td>
                                <td align="center"><input type="radio" id="preg_17_2" name="chekP24" /></td>
                                <td align="center"><input type="radio" id="preg_17_3" name="chekP24" /></td>
                                <td align="center"><input type="radio" id="preg_17_4" name="chekP24" /></td>
                                <td align="center"><input type="radio" id="preg_17_5" name="chekP24" /></td>
                            </tr>
                            <tr>
                                <td>P2.5</td>
                                <td>Con la rapidez durante la atención [no tiempo de espera en la cola]</td>
                                <td align="center"><input type="radio" id="preg_18_1" name="chekP25" /></td>
                                <td align="center"><input type="radio" id="preg_18_2" name="chekP25" /></td>
                                <td align="center"><input type="radio" id="preg_18_3" name="chekP25" /></td>
                                <td align="center"><input type="radio" id="preg_18_4" name="chekP25" /></td>
                                <td align="center"><input type="radio" id="preg_18_5" name="chekP25" /></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div id="divPregunta3" align="justify" style="font-size:14px; color:#20a6ff; font-weight: 700; display:none">

                </div>

                <br />
                <div align="center">
                    <table bgcolor="#fff" cellpadding="0" cellspacing="0" width="560">
                        <tbody>
                            <tr>
                                <td align="center" bgcolor="#AEADB3" colspan="7" height="30" style="font-size:11px; color:#fff">No lo recomendaría en absoluto</td>
                                <td align="center" bgcolor="#87868A" colspan="2" style="font-size:11px; color:#fff">No sé</td>
                                <td align="center" bgcolor="#727176" colspan="2" style="font-size:11px; color:#fff">Sí lo <br /> recomendaría</td>
                            </tr>
                            <tr>
                                <td align="center"><a onclick="Rating3(0)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(1)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(2)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(3)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(4)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(5)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(6)"><img src="~/Library/img/banbif/triste.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(7)"><img src="~/Library/img/banbif/serio.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(8)"><img src="~/Library/img/banbif/serio.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(9)"><img src="~/Library/img/banbif/feliz.jpg" /></a></td>
                                <td align="center"><a onclick="Rating3(10)"><img src="~/Library/img/banbif/feliz.jpg" /></a></td>
                            </tr>
                            <tr>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(0)" style="color:#ff7068; text-decoration:none"><b>0</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(1)" style="color:#ff7068; text-decoration:none"><b>1</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(2)" style="color:#ff7068; text-decoration:none"><b>2</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(3)" style="color:#ff7068; text-decoration:none"><b>3</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(4)" style="color:#ff7068; text-decoration:none"><b>4</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(5)" style="color:#ff7068; text-decoration:none"><b>5</b></a></td>
                                <td align="center" style="color:#ff7068"><a onclick="Rating3(6)" style="color:#ff7068; text-decoration:none"><b>6</b></a></td>
                                <td align="center" style="color:#ffb837"><a onclick="Rating3(7)" style="color:#ffb837; text-decoration:none"><b>7</b></a></td>
                                <td align="center" style="color:#ffb837"><a onclick="Rating3(8)" style="color:#ffb837; text-decoration:none"><b>8</b></a></td>
                                <td align="center" style="color:#00c371"><a onclick="Rating3(9)" style="color:#00c371; text-decoration:none"><b>9</b></a></td>
                                <td align="center" style="color:#00c371"><a onclick="Rating3(10)" style="color:#00c371; text-decoration:none"><b>10</b></a></td>
                            </tr>
                            <tr>
                                <td align="center" height="30">
                                    <div id="arrow3_0" style="visibility:visible"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_1" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_2" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_3" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_4" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_5" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_6" style="visibility:hidden"><img src="~/Library/img/banbif/arrow3.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_7" style="visibility:hidden"><img src="~/Library/img/banbif/arrow2.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_8" style="visibility:hidden"><img src="~/Library/img/banbif/arrow2.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_9" style="visibility:hidden"><img src="~/Library/img/banbif/arrow1.png" /></div>
                                </td>
                                <td align="center" height="30">
                                    <div id="arrow3_10" style="visibility:hidden"><img src="~/Library/img/banbif/arrow1.png" /></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div align="center">
                    <input type="hidden" id="hidRating3" name="hidRating" value="@ViewBag.Rating" />
                    <div align="center" style="width:100%; font-size:12px; margin:7px" id="divPreguntaComentario3">
                        <p id="pPreguntaComentario3">¿Por qué motivo nos brinda esa calificación?</p>
                    </div>
                    <textarea id="comments3" name="comments" required rows="4" style="width:90%"></textarea>
                </div>
                <br />
                <div align="center">
                    <input type="button" style="font-size:16px" onclick="RegistrarVoto()" value="Enviar" />
                </div>
            </div>

        </div>

    </div>

    <br />
    <div align="center" style="font-family: Verdana,Arial; font-size: 9px; margin: 7px; padding-top: 7px; padding-bottom: 7px; width: 100%; border-width: 1px; border-top: 1px solid #ccc; border-color: #ccc">
        Encuesta desarrollada para <img height="10" src="~/Library/img/banbif/logo_blue.png" />
    </div>
</body>
</html>
<script type="text/javascript">

        var APPurl = "@ViewBag.APPURL";
        var dni = localStorage.dnilogin;
        var documento = localStorage.dnilogin;
        var controlador = localStorage.nuevoControlador;
        var oficina = localStorage.codoficina;
        var usu = document.getElementById("hidIdUsuario").value;

        
        function CargarPagina() {

            var flag = document.getElementById("hidLoad").value;
            var rate = document.getElementById("hidRating").value;
            var available = document.getElementById("hidAvailable").value;
            var mensaje = document.getElementById("hidMensaje").value;


            localStorage.setItem('MensajePoll', mensaje);

            if (flag == "0") {
                window.location.href = APPurl +  "/Gracias/Index";
            }

            if (available == "2" || available == "3") {
                window.location.href = APPurl + "/Gracias/Index";
            }

            document.getElementById("divPregunta").innerHTML = "1. "+ "Según su reciente experiencia, en una escala del 0 al 10, ¿Qué tan probable es que recomiende el servicio de la oficina a familiares y amigos?";

            Rating(rate);


            /*MATRIZ*/
            var pregunta2 = "2. ";
            var pregunta3 = "<br> 3. ";

                pregunta2 += "Por favor, califique ¿Qué tan satisfecho se encuentra con relación a …?";
                pregunta3 += "En una escala del 0 al 10,¿Qué tan satisfecho se encuentra con las medidas de seguridad/sanitarias implementadas en la oficina?";

                $('#divPregunta2').html(pregunta2);

                $('#divPregunta3').html(pregunta3);

                $('#divPregunta3').show();

        }
        function Rating(rate) {
            for (i = 0; i <= 10; i++) {
                document.getElementById("arrow" + i).style.visibility = "hidden";
                if (rate == i) {
                    document.getElementById("arrow" + i).style.visibility = "visible";
                    document.getElementById("hidRating").value = rate;
                }
            }


            if (rate <= 10) {
                document.getElementById("pPreguntaComentario").innerHTML = "¿Qué es lo que más le gusta de BANBIF?";
            }
            if (rate <= 8) {
                document.getElementById("pPreguntaComentario").innerHTML = "¿Qué nos faltaría para mejorar?";
            }
            if (rate <= 6) {
                document.getElementById("pPreguntaComentario").innerHTML = "¿Por qué motivo nos brinda esa calificación?";
            }


        }
        function Rating3(rate) {
            for (i = 0; i <= 10; i++) {
                document.getElementById("arrow3_" + i).style.visibility = "hidden";
                if (rate == i) {
                    document.getElementById("arrow3_" + i).style.visibility = "visible";
                    document.getElementById("hidRating3").value = rate;
                }
            }

             if (rate <= 10) {
                document.getElementById("pPreguntaComentario3").innerHTML = "¿Qué es lo que más le gusta de BANBIF?";
            }
            if (rate <= 8) {
                document.getElementById("pPreguntaComentario3").innerHTML = "¿Qué nos faltaría para mejorar?";
            }
            if (rate <= 6) {
                document.getElementById("pPreguntaComentario3").innerHTML = "¿Por qué motivo nos brinda esa calificación?";
            }


        }
        function RegistrarVoto() {
            //voto
            var rate = document.getElementById("hidRating").value;
            //Comentario voto principal
            var comentario = document.getElementById("comments").value;

            var idUsuario = document.getElementById("hidIdUsuario").value;
            //var idUsuario = dni;

            if (comentario == "") {
                alert("Por favor escribir un comentario.");
                return false;
            }


            var Opciones = [];
            Opciones.push({ "CodigoOpcion": 1 });
            Opciones.push({ "CodigoOpcion": 2 });
            Opciones.push({ "CodigoOpcion": 3 });
            Opciones.push({ "CodigoOpcion": 4 });
            Opciones.push({ "CodigoOpcion": 5 });

            var Preguntas = [];


                Preguntas.push({ "CodigoPregunta": 14 });
                Preguntas.push({ "CodigoPregunta": 15 });
                Preguntas.push({ "CodigoPregunta": 16 });
                Preguntas.push({ "CodigoPregunta": 17 });
                Preguntas.push({ "CodigoPregunta": 18 });


            var objRequest = {};
            objRequest.ID = idUsuario;

            var result3 = document.getElementById("hidRating3").value;
            var coment3 = $('#comments3').val();

            //objRequest.Respuesta3 = result3 + "|" + " " + coment3;


            var Respuestas2 = [];



            $.each(Preguntas, function (index, pregunta) {
                var codPregunta = pregunta.CodigoPregunta;
                $.each(Opciones, function (index, opcion) {
                    var codOpcion = opcion.CodigoOpcion;
                    if ($('#preg_' + codPregunta + '_' + codOpcion).prop("checked")) {
                        Respuestas2.push({
                            "IdPregunta":codPregunta,
                            "IdRespuesta":codOpcion
                        });

                    }
                });
            });



            var oBE = {};
            oBE.id = idUsuario;
            oBE.result = rate;
            oBE.comments = comentario;
            oBE.token = "";

            oBE.documento = idUsuario;
            oBE.canal = controlador;
            oBE.oficina = oficina;
            oBE.VOTO = rate
            oBE.comentario_VOTO = comentario
            oBE.COMENTARIO_PREG2 = ""
            oBE.COMENTARIO_PREG3 = result3 + " | " + coment3;

            objRequest.Respuestas2 = Respuestas2;


            $.ajax({
                url: '/voto',
                type: "POST",
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                processData: true,
                data: JSON.stringify(oBE),
                success: function (response) {
                    if (response.result) {
                        //DataEnviada Voto
                        console.log({ oBE });

                        //DataRecibida Voto
                        console.log({ response });
                        objRequest.ID = response.data.IDRESULTADO;

                        $.ajax({
                            url: '/SaveDigital',
                            type: "POST",
                            dataType: "json",
                            contentType: "application/json; charset=utf-8",
                            processData: true,
                            data: JSON.stringify(objRequest),
                            success: function (responseDigital) {
                                if (responseDigital.result) {

                                    //DataEnviada Digital
                                    console.log({ objRequest });

                                    //DataRecibida Digital
                                    console.log({ responseDigital });
                                    var mensaje = response.mensaje;
                                    localStorage.setItem('MensajePoll', mensaje);
                                    window.location.href = APPurl + "/Gracias/Index";
                                }
                            }
                        });


                    }
                }
            });
        }
</script>
